<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{{ site.title | escape }} {% if page.title %}| {{ page.title | escape }}{% endif %}</title>
  <meta http-equiv="Content-Language" content="en-us" >
  <meta name="author" content="{{ site.authors | join: ", " }}" >
  <meta name="keywords" content="{{ site.keywords }}" >
  <meta name="description" content="{{ site.description }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ "/favicon.ico" | absolute_url }}">
  <meta property="og:title" content="{% if page.title %}{{ page.title | escape }}, {% endif %}{{ site.title | escape }}" />
  <meta property="og:description" content="{{ site.description }}" />
  <meta property="og:site_name" content="{{ site.title }}" />
  <meta property="og:url" content="{{ page.url | absolute_url }}" />
  <meta property="og:locale" content="en_US" />
  <script type="application/ld+json">{"@context":"http://schema.org","@type":"WebPage","headline":"{% if page.title %}{{ page.title | escape }}{% else %}{{ site.title | escape }}{% endif %}","author":{"@type":"Person","name":"{{ site.authors[0] }}"},"description":"{{ site.description }}","url":"{{ page.url | absolute_url }}"}</script>

  <link rel="stylesheet" href="{{ "/assets/css/main.css" | absolute_url }}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=PT+Serif:400,400italic,700%7CPT+Sans:400">

</head>
