<nav class="site-nav">

  <input type="checkbox" id="nav-trigger" class="nav-trigger" />
  <label for="nav-trigger">
    <span class="menu-icon">
      <svg width="30px" height="30px" viewBox="0 0 459 459">
        <path d="M0,382.5h459v-51H0V382.5z M0,255h459v-51H0V255z M0,76.5v51h459v-51H0z"/>
      </svg>
    </span>
  </label>

  <div id="side-menu">
    <div class="menu-title">
      <p>{{ site.title }} | {{ site.description }}</p>
    </div>

    <a class="menu-item{% if page.url == "/" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="menu-item{% if page.url == "/toc.html" %} active{% endif %}" href="{{ "/toc.html" | absolute_url }}">Table of Contents</a>
    <div class="chapters">
    {% for chapter in site.collections %}{% if chapter.label != 'posts' %}
      <div class="menu-item chapter{% if page.collection == chapter.label %} active active-chapter{% endif %}" >
        <input type="checkbox" id="{{ chapter.label }}" class="chapter-trigger" />
        <label for="{{ chapter.label }}">{{ chapter.name }} </label>
        <ul class="chapter-contents">
          {% for lesson in chapter.docs %}
          <li><a href="{{ lesson.url | absolute_url }}">{{ lesson.title }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}{% endfor %}
    </div> 
    <a class="menu-item{% if page.url == "/about.html" %} active{% endif %}" href="{{ "/about.html" | absolute_url }}">About</a>
    <a class="menu-item{% if page.url == "/forum/" %} active{% endif %}" href="{{ "/forum/index.html" | absolute_url }}">Forum</a>
    <a class="menu-item{% if page.url == "/search/" %} active{% endif %}" href="{{ "/search/" | absolute_url }}">Search</a>
    <a class="menu-item" href="{{ site.github-repo }}">GitHub project</a>

    <div class="menu-title">
      <p>{{ site.published }} <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" >CC BY-SA</a> {{ site.authors | join: ", " }}.</p>
    </div>
  </div>

</nav>
