/* poole stuff */

/*
 * Container
 *
 * Center the page content.
 */

 .container {
    max-width: 38rem;
    padding-left:  1rem;
    padding-right: 1rem;
    margin-left:  auto;
    margin-right: auto;
  }

  /*
   * Posts and pages
   *
   * Each post is wrapped in `.post` and is used on default and post layouts. Each
   * page is wrapped in `.page` and is only used on the page layout.
   */
  
  .page,
  .post {
    margin-bottom: 4em;
  }
  
  /* Blog post or page title */
  .page-title,
  .post-title,
  .post-title a {
    color: #303030;
  }
  .page-title,
  .post-title {
    margin-top: 0;
  }
  
  /* Meta data line below post title */
  .post-date {
    display: block;
    margin-top: -.5rem;
    margin-bottom: 1rem;
    color: #9a9a9a;
  }

/* lanyon stuff */

.wrap {
    //position: relative;
    width: 100%;
    border-top: solid 5px $border-color;
  }
  
  /* Container - Center the page content. */
  .container {
    max-width: 28rem;
  }
  @media (min-width: 38em) {
    .container {
      max-width: 32rem;
    }
  }
  @media (min-width: 56em) {
    .container {
      max-width: 38rem;
    }
  }

  /* Masthead - Super small header above the content for site name and short description. */
.masthead {
    padding-top:    1rem;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid $border-color;
  }
  .masthead-title {
    margin-top: 0;
    margin-bottom: 0;
    color: #505050;
  }
  .masthead-title a {
    color: #505050;
  }
  .masthead-title small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }
  
  @media (max-width: 48em) {
    .masthead-title {
      text-align: center;
    }
    .masthead-title small {
      display: none;
    }
  }
